In [185]:
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
import re
from dateutil import parser
from selenium import webdriver
import time as time
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.by import By
pd.options.mode.chained_assignment = None  # default='warn'

In [12]:
# Instalation
s = Service((r'C:\Users\eli\Desktop\AllMyRepos\Web-Scraping-with-BeautifulSoup-and-Selenium\Project No.11\chromedriver.exe'))
chromeOptions = Options()
chromeOptions.headless = False
driver = webdriver.Chrome(service=s, options=chromeOptions)

# Results for "AUDI"

In [13]:
models = []
prices = []
years = []
kilometers = []
transmissions = []
engine_types = []
horsepowers = []
dates = []

In [14]:
def scrape_current_page(): 
    for result in results:
        try:
            model = result.find("div", class_ = "link").find("a").text
            models.append(title)
        except:
            models.append(np.nan)

        try:
            price = result.find("div", class_ = "price").text
            prices.append(price)
        except:
            prices.append(np.nan)

        try:
            year = result.find("div", class_ = "info").text.split('|')[0].strip('\n').strip()
            years.append(year)
        except:
            years.append(np.nan)

        try:
            km = result.find("div", class_ = "info").text.split('|')[1].strip('\n').strip().split()[0]
            kilometers.append(km)
        except:
            kilometers.append(np.nan)

        try:
            transmission = result.find("div", class_ = "info").text.split('|')[2].strip('\n').strip()
            transmissions.append(transmission)
        except:
            transmissions.append(np.nan)

        try:
            engine_type = result.find("div", class_ = "info").text.split('|')[3].strip('\n').strip()
            engine_types.append(engine_type)
        except:
            engine_types.append(np.nan)

        try:
            horsepower = result.find("div", class_ = "info").text.split('к.с.')[0].split('|')[-1].strip(' \n')
            horsepowers.append(horsepower)
        except:
            horsepowers.append(np.nan)

        try:
            date = result.find("div", class_ = "date").text.split('от')[1].strip()
            dates.append(date)
        except:
            dates.append(np.nan)

In [24]:
page = 1
while True:
    # URL
    url = 'https://www.auto.bg/obiavi/avtomobili-dzhipove/suzuki/page/' + str(page) + '?sort=1&searchres=5154dxe1&nup=013'
    driver.get(url)
    time.sleep(2)
    # Soup Object
    soup = BeautifulSoup(driver.page_source, 'lxml')
    # Results
    results = soup.findAll("div", class_ = "resultItem")
    length = len(results)
    if length == 0:
        break
    scrape_current_page()   
    page = page + 1

# Results for All automobiles

In [16]:
urls = ['bmw/page/1?nup=013&searchres=l15438v1&sort=1', 'alfa-romeo/page/1?sort=1&searchres=i154djj1&nup=013',
        'cadillac/page/1?nup=013&sort=1&searchres=r154dq51', 'suzuki/page/1?searchres=5154dxe1&sort=1&nup=013',
       'chevrolet/page/1?searchres=51543bq1&sort=1&nup=013','chrysler/page/1?nup=013&searchres=81543cr1&sort=1',
        'citroen/page/1?sort=1&searchres=v1543fc1&nup=013', 'dacia/page/1?nup=013&sort=1&searchres=v1543gm1',
        'daewoo/page/1?searchres=51543h81&sort=1&nup=013','daihatsu/page/1?sort=1&searchres=q1543ic1&nup=013',
        'dodge/page/1?sort=1&searchres=o1543js1&nup=013', 'ds/page/1?sort=1&searchres=d1543n31&nup=013',
        'ferrari/page/1?sort=1&searchres=m1543pl1&nup=013','fiat/page/1?searchres=j1543s91&sort=1&nup=013',
        'ford/page/1?sort=1&searchres=z1543uj1&nup=013', 'great-wall/page/1?sort=1&searchres=i1543xj1&nup=013',
        'honda/page/1?sort=1&searchres=t1543zr1&nup=013','hyundai/page/1?sort=1&searchres=815440m1&nup=013',
        'infiniti/page/1?searchres=k15441l1&sort=1&nup=013', 'jaguar/page/1?sort=1&searchres=o15443q1&nup=013',
        'kia/page/1?nup=013&searchres=115445g1&sort=1', 'lada/page/1?nup=013&searchres=y15446p1&sort=1',
        'lamborghini/page/1?nup=013&searchres=g1544851&sort=1','lancia/page/1?nup=013&sort=1&searchres=k15448u1',
        'lexus/page/1?nup=013&searchres=i1544b01&sort=1', 'lincoln/page/1?nup=013&sort=1&searchres=k1544f61',
        'maserati/page/1?nup=013&sort=1&searchres=71544ic1', 'mazda/page/1?nup=013&sort=1&searchres=m1544jj1',
        'mercedes-benz/page/1?searchres=i1544kg1&sort=1&nup=013', 'mini/page/1?nup=013&searchres=x1544lu1&sort=1',
        'mitsubishi/page/1?nup=013&searchres=g1544mg1&sort=1', 'moskvich/page/1?searchres=l1544n11&sort=1&nup=013',
        'nissan/page/1?nup=013&searchres=f1544p81&sort=1', 'opel/page/1?sort=1&searchres=51544px1&nup=013',
        'peugeot/page/1?searchres=w1544t01&sort=1&nup=013', 'porsche/page/1?nup=013&searchres=m1544v41&sort=1',
        'renault/page/1?searchres=l1544y31&sort=1&nup=013', 'rolls-royce/page/1?searchres=31544zb1&sort=1&nup=013',
        'rover/page/1?nup=013&searchres=21545081&sort=1', 'saab/page/1?nup=013&sort=1&searchres=51545151',
        'seat/page/1?searchres=015452s1&sort=1&nup=013', 'skoda/page/1?nup=013&searchres=g15455u1&sort=1',
        'smart/page/1?nup=013&sort=1&searchres=c15456i1', 'subaru/page/1?sort=1&searchres=h15458i1&nup=013',
        'tesla/page/1?nup=013&searchres=r1545cl1&sort=1', 'toyota/page/1?searchres=n1545df1&sort=1&nup=013',
        'trabant/page/1?searchres=w1545e71&sort=1&nup=013', 'volga/page/1?nup=013&searchres=v1545fh1&sort=1',
        'volvo/page/1?sort=1&searchres=i1545fz1&nup=013', 'vw/page/1?sort=1&searchres=91545gp1&nup=013']

In [17]:
for url in urls:
    brand = url.split('/')[0]
    last_part = url.split('/')[-1].split('?')[1]
    
    page = 1
    while True:
        # URL
        url = 'https://www.auto.bg/obiavi/avtomobili-dzhipove/' + brand + '/page/' + str(page) + '?' + last_part
        driver.get(url)
        time.sleep(2)
        # Soup Object
        soup = BeautifulSoup(driver.page_source, 'lxml')
        # Results
        results = soup.findAll("div", class_ = "resultItem")
        length = len(results)
        if length == 0:
            break
        scrape_current_page()
        page = page + 1

In [29]:
df_auto = pd.DataFrame({ 'Model' : models,'Price': prices,'Year': years, 
                               'Kilometers' : kilometers, 'Transmission' : transmissions,
                                'Engine_type': engine_types, 'Horsepower': horsepowers,'Date': dates})

# Data Cleaning

In [30]:
df_auto.drop_duplicates(keep = 'first', inplace = True, ignore_index = False)
df_auto.head()

,Title,Price,Year,Kilometers,Transmission,Engine_type,Horsepower,Date
0,Audi A8 Плащане с Крипто,55 000 лв.,април 2016 г.,169000,Автоматична,Дизел,395,днес
1,Audi A6 Allroad 3.0 TDI,12 499 лв.,март 2008 г.,248500,Автоматична,Дизел,233,днес
2,Audi A6 Allroad Quattro Facelift,44 800 лв.,септември 2015 г.,158000,Автоматична,Дизел,218,18.11.2022
3,Audi A6 3.0 TDI,28 500 лв.,февруари 2012 г.,230000,Автоматична,Дизел,204,17.11.2022
4,Audi Q7 4.2TDI,20 500 лв.,ноември 2007 г.,465000,Автоматична,Дизел,326,14.11.2022

In [31]:
df_auto.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39001 entries, 0 to 39274
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         39001 non-null  object
 1   Price         39001 non-null  object
 2   Year          39001 non-null  object
 3   Kilometers    39001 non-null  object
 4   Transmission  39001 non-null  object
 5   Engine_type   39001 non-null  object
 6   Horsepower    39001 non-null  object
 7   Date          39001 non-null  object
dtypes: object(8)
memory usage: 2.7+ MB

In [28]:
df_auto = df_auto[~df_auto.Date.str.contains("днес", na=False)]
df_auto.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34804 entries, 2 to 39274
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         34804 non-null  object
 1   Price         34804 non-null  object
 2   Year          34804 non-null  object
 3   Kilometers    34804 non-null  object
 4   Transmission  34804 non-null  object
 5   Engine_type   34804 non-null  object
 6   Horsepower    34804 non-null  object
 7   Date          34804 non-null  object
dtypes: object(8)
memory usage: 2.4+ MB

In [ ]:
price_lv = []
for index, row in df_auto.iterrows():
    string = row['Price']
    if 'лв' in string:
        price = ''.join(re.findall(r'\d+', string))
        price_lv.append(np.float64(price))
    elif 'EUR' in string:
        price = ''.join(re.findall(r'\d+', string))
        price = np.float64(price) * 1.95
        price_lv.append(price)
    elif 'USD' in string:
        price = ''.join(re.findall(r'\d+', string))
        price = np.float64(price) * 1.90
        price_lv.append(price)
    else:
        price_lv.append(np.nan)
    
df_auto['Price BGN'] = price_lv

In [ ]:
del df_auto['Price']
df_auto.head()

In [95]:
df_auto = df_auto[['Model', 'Price BGN', 'Year', 'Kilometers', 'Transmission', 'Engine_type', 'Horsepower',
                  'Date']]
df_auto.head()

,Model,Price BGN,Year,Kilometers,Transmission,Engine_type,Horsepower,Date
0,Audi A8 Плащане с Крипто,55000.0,април 2016 г.,169000,Автоматична,Дизел,395,21.11.2022
1,Audi A6 Allroad 3.0 TDI,12499.0,март 2008 г.,248500,Автоматична,Дизел,233,21.11.2022
2,Audi A6 Allroad Quattro Facelift,44800.0,септември 2015 г.,158000,Автоматична,Дизел,218,18.11.2022
3,Audi A6 3.0 TDI,28500.0,февруари 2012 г.,230000,Автоматична,Дизел,204,17.11.2022
4,Audi Q7 4.2TDI,20500.0,ноември 2007 г.,465000,Автоматична,Дизел,326,14.11.2022

In [137]:
df_auto.head()

,Model,Price BGN,Year,Kilometers,Transmission,Engine_type,Horsepower,Date
0,Audi A8 Плащане с Крипто,55000.0,април 2016 г.,169000,Автоматична,Дизел,395,21.11.2022
1,Audi A6 Allroad 3.0 TDI,12499.0,март 2008 г.,248500,Автоматична,Дизел,233,21.11.2022
2,Audi A6 Allroad Quattro Facelift,44800.0,септември 2015 г.,158000,Автоматична,Дизел,218,18.11.2022
3,Audi A6 3.0 TDI,28500.0,февруари 2012 г.,230000,Автоматична,Дизел,204,17.11.2022
4,Audi Q7 4.2TDI,20500.0,ноември 2007 г.,465000,Автоматична,Дизел,326,14.11.2022

In [139]:
df_auto.rename(columns={'Year':'Year Manifacture', 'Engine_type':'Engine Type',
                       'Date': 'Year Post'}, inplace=True)
df_auto.head()

,Model,Price BGN,Year Manifacture,Kilometers,Transmission,Engine Type,Horsepower,Year Post
0,Audi A8 Плащане с Крипто,55000.0,април 2016 г.,169000,Автоматична,Дизел,395,21.11.2022
1,Audi A6 Allroad 3.0 TDI,12499.0,март 2008 г.,248500,Автоматична,Дизел,233,21.11.2022
2,Audi A6 Allroad Quattro Facelift,44800.0,септември 2015 г.,158000,Автоматична,Дизел,218,18.11.2022
3,Audi A6 3.0 TDI,28500.0,февруари 2012 г.,230000,Автоматична,Дизел,204,17.11.2022
4,Audi Q7 4.2TDI,20500.0,ноември 2007 г.,465000,Автоматична,Дизел,326,14.11.2022

In [142]:
# extract years from "Year Manifacture" 
only_year = []
for index, row in df_auto.iterrows():
    string = row['Year Manifacture']
    string = ''.join(re.findall("\d+", string))
    only_year.append(string)

In [143]:
df_auto["Year Manifacture"] = only_year

In [144]:
df_auto.head()

,Model,Price BGN,Year Manifacture,Kilometers,Transmission,Engine Type,Horsepower,Year Post
0,Audi A8 Плащане с Крипто,55000.0,2016,169000,Автоматична,Дизел,395,21.11.2022
1,Audi A6 Allroad 3.0 TDI,12499.0,2008,248500,Автоматична,Дизел,233,21.11.2022
2,Audi A6 Allroad Quattro Facelift,44800.0,2015,158000,Автоматична,Дизел,218,18.11.2022
3,Audi A6 3.0 TDI,28500.0,2012,230000,Автоматична,Дизел,204,17.11.2022
4,Audi Q7 4.2TDI,20500.0,2007,465000,Автоматична,Дизел,326,14.11.2022

In [174]:
# replace blank spaces with np.nan
df_auto = df_auto.replace(r'^\s*$', np.nan, regex=True)
df_auto.head()

,Model,Price BGN,Year Manifacture,Kilometers,Transmission,Engine Type,Horsepower,Year Post
0,Audi A8 Плащане с Крипто,55000.0,2016,169000,Автоматична,Дизел,395,21.11.2022
1,Audi A6 Allroad 3.0 TDI,12499.0,2008,248500,Автоматична,Дизел,233,21.11.2022
2,Audi A6 Allroad Quattro Facelift,44800.0,2015,158000,Автоматична,Дизел,218,18.11.2022
3,Audi A6 3.0 TDI,28500.0,2012,230000,Автоматична,Дизел,204,17.11.2022
4,Audi Q7 4.2TDI,20500.0,2007,465000,Автоматична,Дизел,326,14.11.2022

In [175]:
df_auto["Year Manifacture"].unique()

array(['2016', '2008', '2015', '2012', '2007', '2001', '2009', '2002',
       '2006', '1999', '2021', '2014', '2005', '2013', '2011', '2004',
       '2003', '2010', '2018', '2017', '1998', '1997', '1994', '2019',
       '2000', '1996', '1989', '2020', '1990', '2022', '1995', '1992',
       '1991', '1993', '1984', '1985', '1982', '1987', '1974', '1976',
       '1965', '1983', '1979', nan, '1986', '1980', '1978', '1970',
       '1962', '1988', '1966', '1969', '1972', '1981', '1971', '1977',
       '1953', '1975', '1973', '1964', '1930', '1968', '1937', '1967',
       '1963', '1951', '1959', '1961', '1960', '1956', '1958'],
      dtype=object)

In [180]:
df_auto = df_auto.dropna()

In [187]:
df_auto["Year Manifacture_new"] = df_auto["Year Manifacture"].apply(lambda row: f'12/31/{row}')
df_auto.head()

,Model,Price BGN,Year Manifacture,Kilometers,Transmission,Engine Type,Horsepower,Year Post,Year Manifacture_new
0,Audi A8 Плащане с Крипто,55000.0,2016,169000,Автоматична,Дизел,395,21.11.2022,12/31/2016
1,Audi A6 Allroad 3.0 TDI,12499.0,2008,248500,Автоматична,Дизел,233,21.11.2022,12/31/2008
2,Audi A6 Allroad Quattro Facelift,44800.0,2015,158000,Автоматична,Дизел,218,18.11.2022,12/31/2015
3,Audi A6 3.0 TDI,28500.0,2012,230000,Автоматична,Дизел,204,17.11.2022,12/31/2012
4,Audi Q7 4.2TDI,20500.0,2007,465000,Автоматична,Дизел,326,14.11.2022,12/31/2007

In [189]:
# parce into DateTime
df_auto["Year Manifacture_new"] = [parser.parse(x) for x in df_auto["Year Manifacture_new"]]
df_auto.head()

,Model,Price BGN,Year Manifacture,Kilometers,Transmission,Engine Type,Horsepower,Year Post,Year Manifacture_new
0,Audi A8 Плащане с Крипто,55000.0,2016,169000,Автоматична,Дизел,395,21.11.2022,2016-12-31
1,Audi A6 Allroad 3.0 TDI,12499.0,2008,248500,Автоматична,Дизел,233,21.11.2022,2008-12-31
2,Audi A6 Allroad Quattro Facelift,44800.0,2015,158000,Автоматична,Дизел,218,18.11.2022,2015-12-31
3,Audi A6 3.0 TDI,28500.0,2012,230000,Автоматична,Дизел,204,17.11.2022,2012-12-31
4,Audi Q7 4.2TDI,20500.0,2007,465000,Автоматична,Дизел,326,14.11.2022,2007-12-31

In [190]:
# extract only years from "Year Post"
only_year = []
for index, row in df_auto.iterrows():
    string = row['Year Post']
    string = string.split('.')[-1]
    only_year.append(string)

In [191]:
df_auto['Year Post'] = only_year
df_auto.head()

,Model,Price BGN,Year Manifacture,Kilometers,Transmission,Engine Type,Horsepower,Year Post,Year Manifacture_new
0,Audi A8 Плащане с Крипто,55000.0,2016,169000,Автоматична,Дизел,395,2022,2016-12-31
1,Audi A6 Allroad 3.0 TDI,12499.0,2008,248500,Автоматична,Дизел,233,2022,2008-12-31
2,Audi A6 Allroad Quattro Facelift,44800.0,2015,158000,Автоматична,Дизел,218,2022,2015-12-31
3,Audi A6 3.0 TDI,28500.0,2012,230000,Автоматична,Дизел,204,2022,2012-12-31
4,Audi Q7 4.2TDI,20500.0,2007,465000,Автоматична,Дизел,326,2022,2007-12-31

In [192]:
df_auto['Year Post_new'] = df_auto['Year Post'].apply(lambda row: f'12/31/{row}')

In [193]:
# parce into DateTime
df_auto['Year Post_new'] = [parser.parse(x) for x in df_auto['Year Post']]
df_auto.head()

,Model,Price BGN,Year Manifacture,Kilometers,Transmission,Engine Type,Horsepower,Year Post,Year Manifacture_new,Year Post_new
0,Audi A8 Плащане с Крипто,55000.0,2016,169000,Автоматична,Дизел,395,2022,2016-12-31,2022-11-23
1,Audi A6 Allroad 3.0 TDI,12499.0,2008,248500,Автоматична,Дизел,233,2022,2008-12-31,2022-11-23
2,Audi A6 Allroad Quattro Facelift,44800.0,2015,158000,Автоматична,Дизел,218,2022,2015-12-31,2022-11-23
3,Audi A6 3.0 TDI,28500.0,2012,230000,Автоматична,Дизел,204,2022,2012-12-31,2022-11-23
4,Audi Q7 4.2TDI,20500.0,2007,465000,Автоматична,Дизел,326,2022,2007-12-31,2022-11-23

In [194]:
del df_auto['Year Manifacture']
del df_auto['Year Post']
df_auto.head()

,Model,Price BGN,Kilometers,Transmission,Engine Type,Horsepower,Year Manifacture_new,Year Post_new
0,Audi A8 Плащане с Крипто,55000.0,169000,Автоматична,Дизел,395,2016-12-31,2022-11-23
1,Audi A6 Allroad 3.0 TDI,12499.0,248500,Автоматична,Дизел,233,2008-12-31,2022-11-23
2,Audi A6 Allroad Quattro Facelift,44800.0,158000,Автоматична,Дизел,218,2015-12-31,2022-11-23
3,Audi A6 3.0 TDI,28500.0,230000,Автоматична,Дизел,204,2012-12-31,2022-11-23
4,Audi Q7 4.2TDI,20500.0,465000,Автоматична,Дизел,326,2007-12-31,2022-11-23

In [195]:
df_auto['Kilometers'].unique()

array([ 169000,  248500,  158000, ...,  166294,  180240, 2502466],
      dtype=int64)

In [202]:
df_auto['Kilometers'] = pd.to_numeric(df_auto['Kilometers'], errors = 'coerce')

In [203]:
df_auto.head()

,Model,Price BGN,Kilometers,Transmission,Engine Type,Horsepower,Year Manifacture_new,Year Post_new
0,Audi A8 Плащане с Крипто,55000.0,169000,Автоматична,Дизел,395.0,2016-12-31,2022-11-23
1,Audi A6 Allroad 3.0 TDI,12499.0,248500,Автоматична,Дизел,233.0,2008-12-31,2022-11-23
2,Audi A6 Allroad Quattro Facelift,44800.0,158000,Автоматична,Дизел,218.0,2015-12-31,2022-11-23
3,Audi A6 3.0 TDI,28500.0,230000,Автоматична,Дизел,204.0,2012-12-31,2022-11-23
4,Audi Q7 4.2TDI,20500.0,465000,Автоматична,Дизел,326.0,2007-12-31,2022-11-23

In [196]:
df_auto['Horsepower'].unique()

array(['395', '233', '218', ...,
       'цвят БежовОсобености - 4(5) Врати, 4x4, Автоматичен контрол на стабилността, Антиблокираща система, Безключово палене , Бло... , регион Враца, гр. Враца07:06 часа от 03.09.2022',
       'Цената е без ДДС, регион Враца, гр. Враца09:00 часа от 13.06.2022',
       'Особености - 4(5) Врати, Автоматичен контрол на стабилността, Въздушни възглавници - Задни, Въздушни възглавници ... , регион Варна, гр. Варна11:18 часа от 26.02.2022'],
      dtype=object)

In [204]:
df_auto['Horsepower'] = pd.to_numeric(df_auto['Horsepower'], errors = 'coerce')
df_auto.head()

,Model,Price BGN,Kilometers,Transmission,Engine Type,Horsepower,Year Manifacture_new,Year Post_new
0,Audi A8 Плащане с Крипто,55000.0,169000,Автоматична,Дизел,395.0,2016-12-31,2022-11-23
1,Audi A6 Allroad 3.0 TDI,12499.0,248500,Автоматична,Дизел,233.0,2008-12-31,2022-11-23
2,Audi A6 Allroad Quattro Facelift,44800.0,158000,Автоматична,Дизел,218.0,2015-12-31,2022-11-23
3,Audi A6 3.0 TDI,28500.0,230000,Автоматична,Дизел,204.0,2012-12-31,2022-11-23
4,Audi Q7 4.2TDI,20500.0,465000,Автоматична,Дизел,326.0,2007-12-31,2022-11-23

In [206]:
# extract "year" from DateTime object
only_year = []
for index, row in df_auto.iterrows():
    year = row['Year Manifacture_new'].year
    only_year.append(year)
df_auto['Year Manifacture'] = only_year

In [207]:
only_year = []
for index, row in df_auto.iterrows():
    year = row['Year Post_new'].year
    only_year.append(year)
df_auto['Year Post'] = only_year

In [209]:
del df_auto['Year Manifacture_new']
del df_auto['Year Post_new']
df_auto.head()

,Model,Price BGN,Kilometers,Transmission,Engine Type,Horsepower,Year Manifacture,Year Post
0,Audi A8 Плащане с Крипто,55000.0,169000,Автоматична,Дизел,395.0,2016,2022
1,Audi A6 Allroad 3.0 TDI,12499.0,248500,Автоматична,Дизел,233.0,2008,2022
2,Audi A6 Allroad Quattro Facelift,44800.0,158000,Автоматична,Дизел,218.0,2015,2022
3,Audi A6 3.0 TDI,28500.0,230000,Автоматична,Дизел,204.0,2012,2022
4,Audi Q7 4.2TDI,20500.0,465000,Автоматична,Дизел,326.0,2007,2022

In [213]:
# rearrange column indexes
df_auto = df_auto[['Model', 'Year Manifacture', 'Price BGN', 'Kilometers', 
                   'Transmission', 'Engine Type', 'Horsepower', 'Year Post']]
df_auto.head()

,Model,Year Manifacture,Price BGN,Kilometers,Transmission,Engine Type,Horsepower,Year Post
0,Audi A8 Плащане с Крипто,2016,55000.0,169000,Автоматична,Дизел,395.0,2022
1,Audi A6 Allroad 3.0 TDI,2008,12499.0,248500,Автоматична,Дизел,233.0,2022
2,Audi A6 Allroad Quattro Facelift,2015,44800.0,158000,Автоматична,Дизел,218.0,2022
3,Audi A6 3.0 TDI,2012,28500.0,230000,Автоматична,Дизел,204.0,2022
4,Audi Q7 4.2TDI,2007,20500.0,465000,Автоматична,Дизел,326.0,2022

# Filter and create DataFrames

In [226]:
df_auto['Engine Type'].unique()

array(['Дизел', 'Бензин', 'Електрически', 'Хибриден'], dtype=object)

In [229]:
filter1 = df_auto['Engine Type'].isin(['Дизел', 'дизел'])
df_diesel = df_auto[filter1]
df_diesel

,Model,Year Manifacture,Price BGN,Kilometers,Transmission,Engine Type,Horsepower,Year Post
0,Audi A8 Плащане с Крипто,2016,55000.0,169000,Автоматична,Дизел,395.0,2022
1,Audi A6 Allroad 3.0 TDI,2008,12499.0,248500,Автоматична,Дизел,233.0,2022
2,Audi A6 Allroad Quattro Facelift,2015,44800.0,158000,Автоматична,Дизел,218.0,2022
3,Audi A6 3.0 TDI,2012,28500.0,230000,Автоматична,Дизел,204.0,2022
4,Audi Q7 4.2TDI,2007,20500.0,465000,Автоматична,Дизел,326.0,2022
...,...,...,...,...,...,...,...,...
38993,Suzuki Grand vitara 1.9 DDIS 4x4 ! ! КЛИМАТРОНИК,2009,10750.0,153000,Ръчна,Дизел,129.0,2022
38994,Suzuki Swift 1.3 DDIS- 75 К. С.,2008,5900.0,180240,Ръчна,Дизел,75.0,2022
38995,Suzuki Vitara 2.0 HDI КЛИМАТИК! ! ДЪЛГА БАЗА,2003,7350.0,146000,Ръчна,Дизел,87.0,2022
38997,Suzuki Grand vitara,2013,11000.0,2502466,Ръчна,Дизел,NaN,2022
39000,Suzuki SX4 1.9 дизел,2007,6994.0,159000,Ръчна,Дизел,NaN,2022

In [230]:
filter2 = df_auto['Engine Type'].isin(['Бензин', 'бензин'])
df_gasoline = df_auto[filter2]
df_gasoline.head()

,Model,Year Manifacture,Price BGN,Kilometers,Transmission,Engine Type,Horsepower,Year Post
6,Audi Q5 2.0 TFSI Quattro,2009,21000.0,174180,Автоматична,Бензин,211.0,2022
22,Audi A8 4.2FSI/S8 line/DesignSelect/CarPlay,2011,39000.0,255000,Автоматична,Бензин,372.0,2022
26,Audi A7 3.0TFSI,2016,63000.0,144014,Автоматична,Бензин,333.0,2022
33,Audi S8 4.0,2012,60000.0,149000,Автоматична,Бензин,520.0,2022
34,Audi A8 4.2FSI LONG*NEW*FULL LED*QUATTRO,2011,43500.0,190282,Автоматична,Бензин,NaN,2022

In [232]:
filter3 = df_auto['Engine Type'].isin(['Електрически', 'електрически'])
df_electric = df_auto[filter3]
df_electric.head()

,Model,Year Manifacture,Price BGN,Kilometers,Transmission,Engine Type,Horsepower,Year Post
304,Audi E-Tron S 95 kWh Quattro Sportback Гаранци...,2020,158333.0,14233,Автоматична,Електрически,503.0,2022
1031,Audi E-Tron Audi E-Tron Q4 50quattro sportback,2020,131700.0,13200,Автоматична,Електрически,299.0,2022
1398,Audi Q4 Sportback e-tron 50 e-tron quattro,2021,144900.0,3000,Автоматична,Електрически,299.0,2022
1414,Audi E-Tron S Sportback 370 kW,2020,199900.0,20400,Автоматична,Електрически,503.0,2022
1483,Audi E-Tron 50 quattro/LED/Virtual cocpit/3D Navi,2021,139900.0,32900,Автоматична,Електрически,313.0,2022

In [233]:
filter4 = df_auto['Engine Type'].isin(['Хибриден', 'хибриден'])
df_hybrid = df_auto[filter4]
df_hybrid.head()

,Model,Year Manifacture,Price BGN,Kilometers,Transmission,Engine Type,Horsepower,Year Post
875,Audi Q5 2.0 TFSI Hybrid Quattro tiptronic S-LINE,2012,33500.0,147000,Автоматична,Хибриден,211.0,2022
920,Audi A6 C8 50TFSI e Quattro Plugin hybride,2020,105000.0,14200,Автоматична,Хибриден,245.0,2022
945,Audi A3 40 etron 2020,2020,59995.0,19000,Автоматична,Хибриден,150.0,2022
969,Audi A8 L 55 HYBRID FULL MATRIX B&O,2018,125000.0,155000,Автоматична,Хибриден,340.0,2022
1025,Audi A8 S LINE,2019,142350.0,55000,Автоматична,Хибриден,340.0,2022

In [237]:
writer = pd.ExcelWriter('auto.bg.xlsx', engine='openpyxl')
df_diesel.to_excel(writer, sheet_name='Diesel engines')
df_gasoline.to_excel(writer, sheet_name='Gasoline engines')
df_electric.to_excel(writer, sheet_name='Electric engines')
df_hybrid.to_excel(writer, sheet_name='Hybrid engines')
writer.save()